[Unit]
Description=Bestia Heart Beats

[Service]
Type=simple
ExecStart=/usr/local/bin/bestia -logLevel=info
Restart=always
RestartSec=30
User=mono
Group=mono

[Install]
WantedBy=multi-user.target
